{% extends 'base.html' %}
{% load static %}
{% block title %}About{% endblock %}
{% block content %}
<div class="bg-blue-100 p-8 rounded max-w-4xl mx-auto flex flex-col md:flex-row items-center md:items-start gap-8">
    <div class="flex">
        <img src="{% static 'images/iu.jpg' %}" alt="Photo" class="rounded shadow-lg max-w-xs mx-auto md:mx-0" />
    </div>
    <div class="text-gray-800 max-w-xl">
        <h2 class="text-2xl font-semibold mb-4">About Me</h2>
        <p class="text-base leading-relaxed justify-center ">
            I am a developer who loves building efficient web applications. 
            This section is designed to give you a quick overview of my skills and background.
        </p>
        <p class="mt-4">
            Feel free to explore  !
        </p>
    </div>
</div>
{% endblock %}