<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="min-h-screen bg-gradient-to-br from-green-200 via-blue-200 to-purple-200 flex flex-col ">
    <header class="bg-white shadow p-4 flex justify-between items-center w-full fixed top-0 left-0 z-10">
        <h1 class="text-xl font-bold">Dashboard</h1>
        <a href="{% url 'logout' %}" class="bg-red-500 text-white px-4 py-2 rounded hover:bg-red-600">Logout</a>
    </header>


    <main class=" flex  justify-center pt-20">
        <div class="max-w-2xl w-full mx-auto bg-white p-6 rounded shadow">
            <h2 class="text-2xl font-bold mb-4">Welcome, {{ request.user.username }}!</h2>
            <p class="text-gray-700">This is your  dashboard.</p>
        </div>
    </main>
</body>
</html>
